:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

div#container {
    display: grid;
    grid-gap: .15em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 25%;
}

div.grid-item {
    border: 1px solid black;
    padding: 1em;
    padding-top: 50%;
}

#clear {
    margin-bottom: 30px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}